<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055697578773-bsurna9f89eg7iercpqm6gjuusqgoi2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055697578773-bsurna9f89eg7iercpqm6gjuusqgoi2a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1055697578773-cee66jofuklf5mdfbdud2aef6c56c0ji.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBncsZTCZy1H4akxCD_BPU36stLULhtLg4</string>
	<key>GCM_SENDER_ID</key>
	<string>1055697578773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineClass</string>
	<key>PROJECT_ID</key>
	<string>online-class-464c8</string>
	<key>STORAGE_BUCKET</key>
	<string>online-class-464c8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055697578773:ios:1f034f2807d9cf79ba171c</string>
</dict>
</plist>